// .emptybox{
//     width: 32px;
//     height: 13px;
//     border: 2px solid #e5e5e5;;
//     display: inline-block;
//     top: 2px;
//     position: relative;
    
// }

// .green{
//   background-color: #4ab84a;;
// }

// .grey{
//     background-color: #e9ecef;
// }

// .tickText{
//     font-size: 10px;
// }

.barChartContainer {
    display: inline-block;
    height: 305px;
    border: 2px solid #e2e0e0;
    padding: 10px 30px;
    border-radius: 7px;
    width: 100%;
}