.body{
    font-family: sans-serif;
    padding: 15px;
    background: #D3D3D3;;
}

.container{
    border: 1px solid #e6e4e4;;
  padding: 10px;
  background-color: #fff;
  margin: auto !important;
  border-radius: 10px;
}
.setborder{
    border: 2px solid #e2e0e0;
    height: auto;
    width: auto;
    border-radius: 10px;

}

// .component1{
// }

.component2{
    height: 320px !important; 
}

.component3{
    height: 320px !important;     margin-top: 20px;
}

